/* General */
.scrollBar {
    overflow-y: scroll;
    height: 100%;
}

/* Vancy card and inner parts */
.vacancyArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    width: 100%;
    margin: 5px 0;
}

.calendar {
    height: 20vh;
    width: 20vh;
    max-width: 120px;
    max-height: 120px;
}

.calendar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vacancyDescription {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 20px;
}

.vacancyDescription h2{
    margin-bottom: 5px;
}

.vacancyOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.vacancyOptionsLine {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacancyAreaLeft {
    height: 100%;
}

.vacancyOptionValue {
    color: var(--light-font-color);
}

.vacancyRight {
    display: flex;
    flex-direction: row;
}

.vacancyLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    width: 20%;
}

.vacancyLeft span{
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.vacancyLeft span:hover {
    cursor: pointer;
}

.editButton {
    color: var(--blue-color);
    border-color: var(--blue-color) !important;
}

.waitButton {
    color: var(--light-font-color);
    border-color: var(--border-color) !important;
}

.deleteButton {
    color: var(--red-color);
    border-color: var(--red-color) !important;
}

/* Left content and inner parts */
.baseArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
    max-height: 30%;
    height: fit-content;
}

.listSearch {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin: 5px 0 0 0;
}

.listSearch li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid var(--border-color);
}

.rangeSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.rangeSearch input {
    width: 100%;
    margin: 0 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}

/* Chrome, Safari, Edge, Opera */
.rangeSearch input::-webkit-outer-spin-button,
.rangeSearch input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.rangeSearch input[type=number] {
  -moz-appearance: textfield;
}

.searchButton {
    width: 100%;
    margin-top: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 30px;
    background-color: var(--background-content-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton:hover {
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .vacancyArea {
        flex-direction: column;
    }

    .vacancyAreaLeft {
        width: 100%;
    }

    .vacancyRight {
        width: 100%;
    }

    .vacancyLeft {
        width: 100%;
    }

    .vacancyLeft span {
        width: 100%;
    }

    .vacancyDescription {
        margin-left: 0;
    }

    .calendar {
        display: none;
        visibility: hidden;
    }

    .vacancyOptionsLine {
        margin-right: 5px;
    }

    /* Left content and inner parts */
    .baseArea {
        max-height: 100%;
    }
}