.main {
    margin-top: 8vh;
    display: flex;
    padding: 20px 3vw;
    align-items: center;
    justify-content: space-between;
}

.leftHolder {
    max-width: 22vw;
    min-width: calc(calc(95vw - 40px) * 0.25);
    height: 85vh;
    background-color: var(--background-content-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.rightHolder {
    max-width: 73vw;
    min-width: calc(calc(95vw - 40px) * 0.75);
    height: 85vh;
    background-color: var(--background-content-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}