.main {
    margin-top: 8vh;
    display: flex;
    padding: 20px 3vw;
    align-items: center;
    justify-content: space-between;
}

.leftContent {
    max-width: 22vw;
    min-width: calc(calc(95vw - 80px) * 0.25);
    height: 85vh;
    background-color: var(--background-content-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.rightContent {
    max-width: 70vw;
    min-width: calc(calc(95vw - 80px) * 0.75);
    height: 85vh;
    background-color: var(--background-content-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.companyTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.horizontalBar {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.buttonsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsArea span {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.vacancyArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    width: 100%;
    margin: 5px 0;
}

.calendar {
    height: 20vh;
    width: 20vh;
    max-width: 120px;
    max-height: 120px;
}

.calendar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vacancyDescription {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 20px;
}

.vacancyDescription h2{
    margin-bottom: 5px;
}

.vacancyOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.vacancyOptionsLine {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacancyAreaLeft {
    height: 100%;
}

.vacancyOptionValue {
    color: var(--light-font-color);
}

.vacancyRight {
    display: flex;
    flex-direction: row;
}

.vacancyLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    width: 20%;
}

.vacancyLeft span{
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.editButton {
    color: var(--blue-color);
    border-color: var(--blue-color) !important;
}

.deleteButton {
    color: var(--red-color);
    border-color: var(--red-color) !important;
}

.companyLogo {
    border-radius: 50%;
    object-fit: cover;
    max-width: 18vw;
}

.companyLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 800px) {
    .horizontalBar {
        width: 1px;
        height: 100%;
    }

    .companyTop {
        margin-bottom: 0;
        justify-content: center;
    }

    .companyLogo {
        max-width: unset;
        max-height: 28vh;
        max-width: 32vw;
    }

    .buttonsArea {
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        min-width: calc(63vw - 40px);
    }

    .vacancyDescription {
        padding-right: 2vw;
    }
}

@media (max-width: 600px){
    .calendar {
        display: none;
        visibility: hidden;
    }
}