:root {
  --background-color: #d9d9d9;
  --background-content-color: #f0f0f0;
  --font-color: #212427;
  --light-font-color: #6c757d;
  --border-color: #D3D3D3;
  --border-color-background: #696969;
  --highlight-color: #5AA3C2;

  --red-color: #ff5c5c;
  --blue-color: #5c9dff;
  --yellow-color: #ffcc5c;
  --purple-color: #b45cff;

  --margin-169: calc(calc(50vh) - calc(900vw/32));

  --font-titles: MontserratArabic;
  --font-subtitles: RudaBlack;
  --font-paragraphs: Questrial;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, Questrial, RudaBlack, MontserratArabic, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: var(--font-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: MontserratArabic;
}

h2 {
  font-family: RudaBlack;
}

h3 {
  font-family: RudaBlack;
}

@font-face {
  font-family: "MontserratArabic";
  src: url("/Fonts/montserrat-arabic_semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "RudaBlack";
  src: url("/Fonts/ruda-black-webfont.woff") format("woff");
}

@font-face {
  font-family: "Questrial";
  src: url("/Fonts/questrial-regular-webfont.woff") format("woff");
}