.holder {
    background-color: transparent;
    margin: 5vh 5vw 5vh 5vw;
    display: flex;
    height: 90vh;
}

.left {
    width: calc(90vw - 90vh);
    background-color: var(--background-content-color);
    border-radius: 10px 0 0 10px;
    padding: 1vh 2vw;
}

.right {
    height: 100%;
    width: 90vh;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.right img{
    border-radius: 0 10px 10px 0;
}

.main {
    height: 100vh;
}

.boxShadow {
    position: absolute;
    top: 5.1vh;
    left: 5.1vw;
    width: 89.8vw;
    height: 89.8vh;
    box-shadow: 4px 3px 8px 4px rgba(0, 0, 0, 0.25);
    z-index: -1;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0;
    filter: invert(1);
}

.inputDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    margin-bottom: 2px;
}

.inputSpace {
    background-color: var(--background-content-color);
    border-color: rgb(202, 202, 202);
    border-radius: 5px;
    border-width: 1px;
    padding: 2px 10px;
    height: 30px;
}

.form {
    margin-top: 40px;
}

.buttonarea {
    display: flex;
    flex-direction: row;
}

.buttonarea p {
    margin-left: 10px;
}

.orSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
}

.orSpace span {
    margin: 0 10px;
}

.horizontalBar {
    height: 1px;
    width: 20%;
    border-top: 1px solid rgb(202, 202, 202);
}

.hide {
    visibility: hidden;
    width: 0;
    height: 0;
}

.providerLoginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    width: 60%;
}

.providersMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1100px) {
    .holder {
        margin: max(5vh, var(--margin-169) ) max(5px, 5vw);
        height: calc(100vh - calc(2 * max(5vh, var(--margin-169) ))) ;
    }

    .left {
        width: calc(100vw - calc(calc(2*max(5px, 5vw))) - calc(100vh - calc(2 * max(5vh, var(--margin-169) ))));
    }

    .boxShadow {
        height: calc(99.8vh - calc(2 * max(5vh, var(--margin-169) ))) ;
        top: calc(max(5vh, var(--margin-169) ) + 0.1vh);
        left: calc(max(5px, 5vw) + 0.1vw);
    }
}

@media (max-width: 900px) {
    .holder {
        margin: 5vh 5vw 5vh 5vw;
        height: 90vh;
    }

    .right {
        display: none;
        width: 0;
    }

    .left {
        width: 90vw;
        border-radius: 10px;
    }

    .boxShadow {
        height: 90vh;
        margin: 0;
        top: 5.1vh;
        left: 5.1vw;
        display: none;
    }
}